body{
    background-color:darkslategray;
}

/*.all{
    display: flex;
    align-items: center;
    
}*/

.Title{
    background-color: orange;
    color:black;
    padding: 25px;
    width: 80%;
    margin-left:40px;
    display:flex;
    justify-content: flex-start;
    margin-top: 30px;
    border:none;
    border-radius:5px;
}

.forms{
    background-color:white;
    margin-top: 50px;
    margin-bottom:100px;
    width: 20%;
    padding: 100px;
    margin-left:10%;
    border-radius:5px;
    height:400px
}

.form-row{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
    
}

.form-row label{
    font-weight: bold;
    font-size:25px;
    margin-bottom:20px;
}


.form-row input[type='text'] {
    background-color: #FFFFFF;
    border: 1px solid black;
    border-radius: 5px;
    width: 100%;
    padding: 8px;
    font-size: 25px;
    margin-bottom:20px;
}
     

.form-row input[type='text']:invalid{
    border: 1px solid #D55C5F;
    color: #D55C5F;
    box-shadow: none;  
}

.legacy-form-row {
    border: none;
    margin-bottom: 15px;

}
  
   
.legacy-form-row .radio-label {
    font-size: 25px;
    display:block;
    margin-top:18px;
}
  
.legacy-form-row legend{
    font-weight: bold;
    font-size: 25px;
}

.legacy-form-row input[type='radio'] {
    margin-top: 26px;
}
    
   .legacy-form-row .radio-label,
   .legacy-form-row input[type='radio'] {
    float: left;
   }

.form-row-button button{
    font-size: 20px;
    font-weight: bold;
      
    color: #FFFFFF;
    background-color: green;
      
    border: none;
    border-radius: 5px;
      
    padding: 20px 40px;
    
}

.statement{
    background-color: white;
    border-radius:5px;
    display:flex;
    justify-content: flex-start;
    margin-left: 170%;
    width:800px;
    padding:20px;
    
}


.statement p{
    font-size:x-large;
    margin-left:20px;


}


 

 
 